// Place all the styles related to the Pokemon controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.pokemon {
  display: flex;
  flex-direction: column;
  border: 20px solid red;
}

img {
  width: 100px;
  height: auto;
}

.pokemon.poke {
  display: flex;
  border: 20px solid red;
}
